.title4{
   text-align: center; 
   margin: 0%;
}
li{
    list-style-type: decimal;
    font-weight: bold;
    
}
.item4{
    background: linear-gradient(#2bbfe4,#eaecc6);
    height: 100%;
    width: 100%;
    background-position: center;
}