.title5{
   text-align: center; 
   margin: 0%;
}
li{
    list-style-type: decimal;
    font-weight: bold;
    
}
.item5{
    background: linear-gradient(#8c366c,#5f64e7);
    height: 100%;
    width: 100%;
    background-position: center;
}
.btn1,a{
    background-color: blue;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}
.btn1:hover{
    background-color: rgb(red, green, blue);
}