.title2{
   text-align: center; 
   margin: 0%;
}
li{
    list-style-type: decimal;
    font-weight: bold;
    
}
.item2{
    background: linear-gradient(#ea52f8,#0066ff);
    height: 100%;
    width: 100%;
    background-position: center;
}
.btn1,a{
    background-color: blue;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}
.btn1:hover{
    background-color: rgb(red, green, blue);
}